<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>404 Error</title>
</head>
<body>
    <div class="wrapper">
        <div class="main_content"> 
            <img src="./img/toppng.com-erreur-404-473x341.png" alt="404 Error"> 
            <a href="/">Return to Weather Page.</a>
        </div>
    </div>
</body>
</html>